.homebar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3dc4fc;
    max-width: 450px;
}

.home-logo{
    width: 20px;
    height: 20px;
    margin: 10px;
}